.mat-list-base[dense] .mat-list-item
{
	//height:25px;
	font-size: 1.25em;
}


.mat-list-base .mat-list-item
{
	//height:25px;
	font-size: 1.25em;
}

.sidenavContainer
{
	position: absolute;
	top: 64px;
	bottom: 64px;
	left: 0;
	right: 0;

	.mat-sidenav
	{
		width:400px;
	}
}

.mat-card-title
{
	font-size: 2em;
	margin-bottom:25px;
}

.mat-card-content
{
	font-size: 1.5em;
}


.mainContentContainer
{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;

	.card
	{
		margin-bottom:50px;


		.nestedCard
		{
			margin-top:20px;
		}

		.nestedCardTitle
		{
			font-size: 1.75em;
		}

		.nestedCardHeading
		{
			font-size: 1.25em;
		}
	}

	.mat-display-3
	{
		align-items:center;
		margin-bottom: 20px;
	}

	.mat-display-1
	{
		text-align: left;
	}	

	.mat-h1
	{
		text-align: left;
		margin-top:10px;

	}

	margin-top:50px;
	margin-left:50px;
	margin-right:200px;
}
