<div class ="container">
	<mat-sidenav-container class="sidenavContainer">
	  <mat-sidenav mode="side" opened>


		<mat-nav-list>

				<mat-list-item matSubheader (click)="scroll(WhatAreAdversarialExamples)"> What are adversarial examples? </mat-list-item>
				<mat-list-item matSubheader (click)="scroll(HowDoesItWork)"> How does it work? </mat-list-item>
				<mat-list-item matSubheader (click)="scroll(ModelLoading)"> Model Loading </mat-list-item>

					<mat-nav-list dense style="margin-left:15px;">
						<mat-list-item (click)="scroll(Models)" > Models </mat-list-item>
							<mat-nav-list dense style="margin-left:15px;">
								 <mat-list-item (click)="scroll(MobileNet)"> MobileNet </mat-list-item>
								 <mat-list-item (click)="scroll(MobileNetV2)"> MobileNetV2 </mat-list-item>
								 <mat-list-item (click)="scroll(ResNet50)"> ResNet50 </mat-list-item>
								 <mat-list-item (click)="scroll(Xception)"> Xception </mat-list-item>
								 <mat-list-item (click)="scroll(InceptionV3)"> InceptionV3 </mat-list-item>
							</mat-nav-list>
					</mat-nav-list>

					<mat-nav-list dense style="margin-left:15px;">
						<mat-list-item (click)="scroll(ImageSelection)" > Image Selection </mat-list-item>
							<mat-nav-list dense style="margin-left:15px;">
								 <mat-list-item (click)="scroll(Upload)"> Upload </mat-list-item>
								 <mat-list-item (click)="scroll(Select)"> Select </mat-list-item>
								 <mat-list-item (click)="scroll(RandomOption)"> Random Option </mat-list-item>
							</mat-nav-list>
					</mat-nav-list>			

					<mat-nav-list dense style="margin-left:15px;">
						<mat-list-item (click)="scroll(ModelSelection)" > Model Selection </mat-list-item>
							<mat-nav-list dense style="margin-left:15px;">
								 <mat-list-item (click)="scroll(AdversarialModel)"> Adversarial Model </mat-list-item>
								 <mat-list-item (click)="scroll(PredictionModels)"> Prediction Model(s) </mat-list-item>
							</mat-nav-list>
					</mat-nav-list>	

					<mat-nav-list dense style="margin-left:15px;">
						<mat-list-item (click)="scroll(AttackMethods)" > Attack Methods </mat-list-item>
							<mat-nav-list dense style="margin-left:15px;">
								 <mat-list-item (click)="scroll(FGSM)"> Fast Gradient Sign Method </mat-list-item>
								 <mat-list-item (click)="scroll(T_FGSM)"> Targeted Fast Gradient Sign Method </mat-list-item>
								 <mat-list-item (click)="scroll(DeepFool)"> DeepFool </mat-list-item>
							</mat-nav-list>
					</mat-nav-list>	

					<mat-nav-list dense style="margin-left:15px;">
						<mat-list-item (click)="scroll(ImageDisplay)" > Image Display </mat-list-item>
							<mat-nav-list dense style="margin-left:15px;">
								 <mat-list-item (click)="scroll(Perturbation)"> Perturbation </mat-list-item>
							</mat-nav-list>
					</mat-nav-list>	


					<mat-nav-list dense style="margin-left:15px;">
						<mat-list-item (click)="scroll(AboutThisProject)" > About this project </mat-list-item>
							<mat-nav-list dense style="margin-left:15px;">
								 <mat-list-item (click)="scroll(Related)"> Related </mat-list-item>
							</mat-nav-list>
					</mat-nav-list>						
			</mat-nav-list>
		</mat-sidenav>



		<mat-sidenav-content>
			<div class ="mainContentContainer">
				<h1 class="mat-display-3"> About </h1>

				<div id="cardContainer">	
					<div class='card' #WhatAreAdversarialExamples>	
						<mat-card>
							<mat-card-title> {{descs.WhatAreAdversarialExamples.title}} </mat-card-title>
							<mat-card-content> {{descs.WhatAreAdversarialExamples.content}} </mat-card-content>
						</mat-card> 
					</div>

					<div class='card' #HowDoesItWork>	
						<mat-card>
							<mat-card-title> {{descs.HowDoesItWork.title}} </mat-card-title>
							<mat-card-content> {{descs.HowDoesItWork.content}} </mat-card-content>
						</mat-card> 
					</div>

					<div class='card' #ModelLoading>	
						<mat-card>
							<mat-card-title> {{descs.ModelLoading.title}} </mat-card-title>
							<mat-card-content> {{descs.ModelLoading.content}} </mat-card-content>
						</mat-card> 
					</div>

					<!-- Nested Model cards -->
					<div class='card' #Models>	
						<mat-card>
							<mat-card-title> {{descs.Models.title}} </mat-card-title>
							<mat-card-content> {{descs.Models.content}} </mat-card-content>
						
							<div class='{{nestedCardClass}}' #MobileNet>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.MobileNet.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.MobileNet.content}} </mat-card-content>
								</mat-card> 
							</div>

							<div class='{{nestedCardClass}}' #MobileNetV2>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.MobileNetV2.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.MobileNetV2.content}} </mat-card-content>
								</mat-card> 
							</div>

							<div class='{{nestedCardClass}}' #ResNet50>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.ResNet50.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.ResNet50.content}} </mat-card-content>
								</mat-card> 
							</div>

							<div class='{{nestedCardClass}}' #Xception>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.Xception.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.Xception.content}} </mat-card-content>
								</mat-card> 
							</div>	

							<div class='{{nestedCardClass}}' #InceptionV3>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.InceptionV3.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.InceptionV3.content}} </mat-card-content>
								</mat-card> 
							</div>
						</mat-card> 
					</div>


					<!-- Nested Image Selection -->
					<div class='card' #ImageSelection>	
						<mat-card>
							<mat-card-title> {{descs.ImageSelection.title}} </mat-card-title>
							<mat-card-content> {{descs.ImageSelection.content}} </mat-card-content>
			
							<div class='{{nestedCardClass}}' #Upload>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.Upload.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.Upload.content}} </mat-card-content>
								</mat-card> 
							</div>

							<div class='{{nestedCardClass}}' #Select>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.Select.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.Select.content}} </mat-card-content>
								</mat-card> 
							</div>			

							<div class='{{nestedCardClass}}' #RandomOption>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.RandomOption.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.RandomOption.content}} </mat-card-content>
								</mat-card> 
							</div>	
						</mat-card> 
					</div>


					<!-- Nested Image Selection -->
					<div class='card' #ModelSelection>	
						<mat-card>
							<mat-card-title> {{descs.ModelSelection.title}} </mat-card-title>
							<mat-card-content> {{descs.ModelSelection.content}} </mat-card-content>
				
							<<div class='{{nestedCardClass}}' #AdversarialModel>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.AdversarialModel.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.AdversarialModel.content}} </mat-card-content>
								</mat-card> 
							</div>

							<div class='{{nestedCardClass}}' #PredictionModels>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.PredictionModels.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.PredictionModels.content}} </mat-card-content>
								</mat-card> 
							</div>
						</mat-card> 
					</div>


					<!-- Nested Attack Model -->
					<div class='card' #AttackMethods>	
						<mat-card>
							<mat-card-title> {{descs.AttackMethods.title}} </mat-card-title>
							<mat-card-content> {{descs.AttackMethods.content}} </mat-card-content>
									
							<div class='{{nestedCardClass}}' #FGSM>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.FGSM.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.FGSM.content}} </mat-card-content>
								</mat-card> 
							</div>		

							<div class='{{nestedCardClass}}' #T_FGSM>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.T_FGSM.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.T_FGSM.content}} </mat-card-content>
								</mat-card> 
							</div>	

							<<div class='{{nestedCardClass}}' #DeepFool>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.DeepFool.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.DeepFool.content}} </mat-card-content>
								</mat-card> 
							</div>	
						</mat-card> 
					</div>	


					<!-- Nested Image Display -->
					<div class='card' #ImageDisplay>	
						<mat-card>
							<mat-card-title> {{descs.ImageDisplay.title}} </mat-card-title>
							<mat-card-content> {{descs.ImageDisplay.content}} </mat-card-content>
			
							<div class='{{nestedCardClass}}' #Perturbation>	
							<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.Perturbation.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.Perturbation.content}} </mat-card-content>
								</mat-card> 
							</div>		
						</mat-card> 
					</div>	

																			
					<!-- Nested About -->
					<div class='card' #AboutThisProject>	
						<mat-card>
							<mat-card-title> {{descs.AboutThisProject.title}} </mat-card-title>
							<mat-card-content> {{descs.AboutThisProject.content}} </mat-card-content>
				

							<div class='{{nestedCardClass}}' #Related>	
								<mat-card>
									<mat-card-title class='nestedCardTitle'> {{descs.Related.title}} </mat-card-title>
									<mat-card-content class='nestedCardHeading'> {{descs.Related.content}} </mat-card-content>
								</mat-card> 
							</div>		
						</mat-card> 
					</div>																					

				<!-- End mainContentContainer-->
				</div>																			




			</div>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
