html, body
{
   // border-color: blue;
   // border-style: solid;
}

.container
{
	display: flex;
	flex-direction:column;
	justify-content:space-around;
	padding-top: 0px;
}

.image
{
	display: flex;
	align-items:center;
	justify-content:center;
}


.fileSelection
{
	display: flex;
	align-items:center;
	justify-content:space-evenly;
	margin-top:10px;


	button
	{
		margin-left:auto;
		margin:10px;
		width:10em;
	}


	.randomButton
	{
		margin-left:auto;		
		font-size: 1.25em;
		width:1.5em;
		padding-left:0px;
		padding-right:0px;
	}	

}


.epsilonSelect
{
	display: flex;
	align-items:center;
	justify-content:space-around;

	.mat-slider
	{
		flex-grow:1;
		margin-left:10px;
	}	


	.epsilonButtons
	{	
		display: flex;
		flex-direction:column;

		button
		{
			padding:0px;
			width:25px;
			min-width: 25px;
		}
	}



}


.buttonLayout
{
	display: flex;
	align-items:baseline;
	justify-content:space-between;
	margin-top:10px;

	.mat-form-field
	{
		flex-grow:1;
		margin-right:15px;
	}

	button
	{
		margin-left:auto;
		width:7em
	}


	.randomButton
	{
		font-size: 1.25em;
		width:1.5em;
		padding-left:0px;
		padding-right:0px;
	}	

}


.modelSelection
{
	margin-top:10px;
	height:2em;
	font-size: 1em;
}