html, body 
{
    // border-style: solid;
    // border-color: red;

	p
	{
		font-size: 28px;	
		font-weight: bold;
	}
}

.div-hide
{
   visibility: hidden;
}

.mat-divider
{
	margin-top:10px;
	border-width:2px;
}  


.flexContainer
{
	display: flex;
	flex-direction: column;
	height: 100vh;


	.predictionsContainer
	{
		flex: 1;
		overflow-y: auto;
	}

}


.cardContainer
{
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: center;
	justify-content: space-around;

	.mat-card
	{
		//height:100%;
	}

	.mat-card-content
	{
		margin:0px;		
	}

	.mat-card-actions
	{
		display: flex;
		justify-content: center;
		padding:0px;

		.mat-slider 
		{		
			height:30px;
			width:80%;
			padding:0px;
		}		
	}
}

.predictions
{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
}

.prediction
{
  	width:50%;
  	max-width:600px;

  	th
  	{
		font-size: 20px;
  	}

	td
	{
		text-align: left;
	  	font-size: 18px;

	}

	// confidence column
	td:nth-child(2)
	{
		text-align: center;
		width:20px
	}

	.red
	{
		color:#ff0000;
		font-weight: bold;
	}	

	.orange
	{
		color:#ff6a00;
		font-weight: bold;

	}

	.green
	{	
		color:#2aaa00;
		font-weight: bold;

	}			 

	// colour change on hover
	//tr:hover {background-color: #ddd;}

}
