<h1 mat-dialog-title> Image Selection</h1>

<mat-dialog-content>
	<mat-tab-group [selectedIndex]="selected.value"
					(selectedIndexChange)="selected.setValue($event)"
	               (selectedTabChange)="onTabSwitch()">
	  <mat-tab [class]="test" *ngFor="let tab of tabs; let index = index" [label]="tab">
			<div class="images" *ngFor="let row of imageUrls">
				<div class="row" *ngFor="let imgUrl of row">
						<img id = "imageSelectImg" 
						[ngClass]="{'notSelected': imageSelected && imgUrl!=selectedImgUrl,
											  'selected': imageSelected && imgUrl==selectedImgUrl  }"
						[src]="imgUrl" height="150" width="150" (click)="onImgClick(imgUrl)">
				</div>
			</div>

		<mat-paginator  [length]="imageUrlArrays[index].length"
						[pageSize]="9"
						(page)="pageNumber = onPageUpdate($event)">
		</mat-paginator>
		
	  </mat-tab>
	</mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-raised-button color="blank"
	(click)="onCloseButtonClick()"> Close </button>    

	<button mat-raised-button color="primary"
	(click)="onConfirmButtonClick()"
	[disabled]="!imageSelected">
	 Confirm </button>    
</mat-dialog-actions>