table 
{
  width: 100%;

  th
  {
  	font-size: 20px;
  }

  tr
  {
  	font-size:18px;
  }
}

.memory
{
	margin-left:15px;
}

.mat-dialog-actions
{
  display: flex;
  flex-direction: row;
  flex-wrap:nowrap;
 // justify-content:center;
}

.mat-progress-bar
{
    margin-left:auto;
    //height:7px;
    width:50%
}