<div class ="container">
	<h1 class="mat-display-2"> INTERACTIVE ADVERSARIAL EXAMPLES </h1>
	<mat-dialog-content>

		<mat-divider> </mat-divider>

		<p class="mat-h1"> Explore adversarial attacks on deep neural networks in real-time   </p>

		<button mat-stroked-button color="primary"
		routerLink="/"
		(click)="onExploreButtonClick()"> Explore </button>      

		<button mat-stroked-button color="blank"
		routerLink="/about"
		(click)="onLearnButtonClick()"> Learn </button>

	</mat-dialog-content>
</div>
