html, body {
    border-style: solid;
    border-color: blue;
}

.container
{
	display: inline;
}


img
{
	margin-top:25px;
}


.fileSelection > *
{
	font-size: 28px;
	margin-left: 20px;
}

.modelSelection > *
{
	margin-top: 50px;
	font-size: 28px;
	margin-left: 20px;
}

.attackMethodSelection > *
{
	margin-top: 50px;
	font-size: 28px;
	margin-left: 20px;
	display:inline;

}

.epsilonSelection > *
{
	font-size: 28px;
	margin-left: 20px;	
	margin-top:30px;
	display:inline;
}

.epsilonInput
{
	width:100px;
}


.imageNetClassSelection > *
{
	margin-top: 50px;
	font-size: 28px;
	margin-left: 20px;
	width:300px;
	margin-top:50px;
}