html, body {
    border-style: solid;
    border-color: blue;
}

.container
{
	display: inline;
}


img
{
	margin-top:25px;
}


.fileSelection > *
{
	font-size: 28px;
	margin-left: 20px;
}

.modelSelection > *
{
	margin-top: 50px;
	font-size: 28px;
	margin-left: 20px;

}



.epsilonInput
{
	width:100px;
}

.epsilonSelection > *
{
	font-size: 28px;
	margin-left: 20px;	

}
