<html>
<body>
	<div class = container>

		<img id = "fileSelectImg" [src]="imgURL" height="299" width="299" (load)="onIMGLoad()">
		<div class = "fileSelection">

			<input type='file' (change)="onSelectFile($event)">

		</div>

		<div class = "modelSelection">

			<select [(ngModel)]="selectedModel">
				<option value="" disabled selected>select a model</option>
				<option *ngFor="let model of modelService.allModels" [value]="model.name">{{model.name}}</option> 
			</select>

			<button (click) = "onPredictButtonClick(trest)"> Predict </button>

		</div>

		<div class = epsilonSelection>

			<p> Epsilon: {{epsilon}} </p>
			<input  class="epsilonInput"(change)="onEpsilonChange($event.target.value)" placeholder="1">

		</div>		

	</div>
</body>
</html>