header 
{
    background: #e22828;

    .logo 
    {
        font-weight: bold;
        font-size: 40px;
    }

    nav 
    {
        justify-self: right;
        ul 
        {
            list-style-type: none;
            margin: 0; padding: 0;

            li 
            {
                float: left;

                a 
                {
                    padding: 0.8em;
                    text-transform: uppercase;
                    font-size: .9em;

                    &:hover 
                    {
                        color: #babcc1;
                    }
                }
            }
        }
    }
}