.homeContainer 
{
  display: flex;
  min-height: 75vh;
  flex-direction: row;


}

.selection 
{
  flex: 1;
  width:25%;
}


.display 
{
  flex: -1;
  width:75%;

}


.mat-divider.mat-divider-vertical
{
	border-right-width:2px;
}  
