.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}



.mat-flat-button
{
    font-style: bold;
    font-size: 20px;
    margin-right: 30px;
}

.mat-flat-button:hover //TODO Darken
{
    background-color: transparent;
    font-style: bold;
}

.mat-toolbar
{
	//font-size: 24px;
}