<html>
<body>




<div class = "predictionsDiv">

	<div class = "original">
		<p> original</p>
        <img src="assets/cat299.jpg">

        <table class = "prediction">
			<thead>
				<tr>
					<th>Class Label</th>
					<th>Confidence</th>
				</tr>
				<tr>
					<td>	
						<p> 1. prediction...</p>
						<p> 2. prediction...</p>
					</td>		
					<td>	
						<p> xx%</p>
						<p> xx%</p>
					</td>									
			</thead>
		</table>


	</div>

	<div class = "difference">
		<p> Difference</p>
        <img src="assets/cat299.jpg">
        <table class = "prediction">
			<thead>
				<tr>
					<th>Class Label</th>
					<th>Confidence</th>
				</tr>
				<tr>
					<td>	
						<p> 1. prediction...</p>
						<p> 2. prediction...</p>
					</td>		
					<td>	
						<p> xx%</p>
						<p> xx%</p>
					</td>									
			</thead>
		</table>	
	</div>

	<div class = "adversarial">
		<p> adversarial</p>
        <img src="assets/cat299.jpg">
        <table class = "prediction">
			<thead>
				<tr>
					<th>Class Label</th>
					<th>Confidence</th>
				</tr>
				<tr>
					<td>	
						<p> 1. prediction...</p>
						<p> 2. prediction...</p>
					</td>		
					<td>	
						<p> xx%</p>
						<p> xx%</p>
					</td>									
			</thead>
		</table>
	</div>		

</div>





<table class = "allPredictions">
	<thead>
		<tr>
			<th>Original</th>
			<th>Difference</th>
			<th>Adversarial</th>
		</tr>
	</thead>

		<tr>
            <td><img src="assets/cat299.jpg"></td>
            <td><img src="assets/cat299.jpg"></td>
            <td><img src="assets/cat299.jpg"></td>
		</tr>

		<tr>
			<td>	
		        <table class = "prediction">
					<thead>
						<tr>
							<th>Class Label</th>
							<th>Confidence</th>
						</tr>
						<tr>
							<td>	
								<p> 1. prediction...</p>
								<p> 2. prediction...</p>
							</td>		
							<td>	
								<p> xx%</p>
								<p> xx%</p>
							</td>									
					</thead>
				</table>
			</td>
			<td>	
		        <table class = "prediction">
					<thead>
						<tr>
							<th>Class Label</th>
							<th>Confidence</th>
						</tr>
						<tr>
							<td>	
								<p> 1. prediction...</p>
								<p> 2. prediction...</p>
							</td>		
							<td>	
								<p> xx%</p>
								<p> xx%</p>
							</td>									
					</thead>
				</table>
			</td>
			<td>	
		        <table class = "prediction">
					<thead>
						<tr>
							<th>Class Label</th>
							<th>Confidence</th>
						</tr>
						<tr>
							<td>	
								<p> 1. prediction...</p>
								<p> 2. prediction...</p>
							</td>		
							<td>	
								<p> xx%</p>
								<p> xx%</p>
							</td>									
					</thead>
				</table>	
			</td>
		</tr>
</table>

</body>
</html>