<html>
<body>




<div class = "predictionsDiv">

	<div class = "original">
		<p> original</p>
        <img src="assets/cat299.jpg">
		<p> prediction...</p>
	</div>

	<div class = "difference">
		<p> Difference</p>
        <img src="assets/cat299.jpg">
		<p> prediction...</p>		
	</div>

	<div class = "adversarial">
		<p> adversarial</p>
        <img src="assets/cat299.jpg">
		<p> prediction...</p>		
	</div>		

</div>





<table class = "predictions">
	<thead>
		<tr>
			<th>Original</th>
			<th>Difference</th>
			<th>Adversarial</th>
		</tr>
	</thead>

		<tr>
            <td><img src="assets/cat299.jpg"></td>
            <td><img src="assets/cat299.jpg"></td>
            <td><img src="assets/cat299.jpg"></td>
		</tr>

		<tr>
			<td>prediction...</td>
			<td>prediction...</td>
			<td>prediction...</td>
		</tr>
</table>

</body>
</html>