html, body 
{
    // border-style: solid;
    // border-color: red;

	p
	{
		font-size: 28px;	
		font-weight: bold;
	}
}

.mat-divider
{
	margin-top:20px;
	border-top-width:2px;
}  




.flexContainer
{
	display: flex;
	flex-direction: column;
	height: 100%;
}


.imageContainer
{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;
	justify-content: space-around;
	// border-style: solid;
	// border-color: purple;	
	//max-width: 80%;
}

.predictions
{
	display: flex;
	flex-direction: row;
}

.prediction
{
  	width:50%;

  	th
  	{
		font-size: 20px;
  	}

	td
	{
		text-align: left;
	  	font-size: 18px;

	}

	// confidence column
	td:nth-child(2)
	{
		text-align: center;
		width:20px
	}

	.red
	{
		color:#ff0000;
		font-weight: bold;
	}	

	.orange
	{
		color:#ff6a00;
		font-weight: bold;

	}

	.green
	{	
		color:#2aaa00;
		font-weight: bold;

	}			 

	// colour change on hover
	//tr:hover {background-color: #ddd;}

}
