html, body 
{
    border-style: solid;
    border-color: red;

	p
	{
		font-size: 28px;	
		font-weight: bold;
	}
}


.flexContainer
{
	display: flex;
	flex-direction: column;
	height: 100%;
}


.imageContainer
{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-content: center;

	justify-content: space-around;

	border-style: solid;
	border-color: purple;	
	//max-width: 80%;
}

.predictions
{
	display: flex;
	flex-direction: row;
	border-style: solid;
	border-color: orange;
  	font-size: 28px;
}

.prediction
{
	border-style: solid;
	border-color: green;
  	font-size: 28px;
  	width:50%;
	border: 1px solid #ddd;
	padding: 8px;  	
  	border-collapse: collapse;


	th
	{
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: center;
		background-color: #e0e0e0;
		color: black;	  
	}

	td
	{
		text-align: right;
		text-align: center;
		border: 1px solid #ddd;
		padding: 8px;  	

	  //font-size: 28px;
	}


	// colour every nth row grey
	tr:nth-child(even)
	{
		background-color: #f2f2f2;
	}

	// confidence column
	td:nth-child(2)
	{
		text-align: center;
		width:20px
	}



	.red
	{
   		color:#ff0000;
		font-weight: bold;

	}

	.orange
	{
   		color:#ff6a00;
		font-weight: bold;
	}

	.green
	{
   		color:#2aaa00;
		font-weight: bold;
	}		


	// colour change on hover
	//tr:hover {background-color: #ddd;}

}



