html, body {
    border-style: solid;
    border-color: red;
}


.predictionsDiv
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;

	border-style: solid;
	border-color: purple;	
	margin: 25px;
	//max-width: 80%;
}



.prediction
{
	border-style: solid;
	border-color: green;

	th
	{
	  text-align: center;
	}

	td
	{
	  text-align: right;
	}

}


.allPredictions
{

	border-style: solid;
	border-color: orange;
	margin: 25px;


	td
	{
	  float:left;
	}


}
