<html>
<body>

<div class = "flexContainer">

	<div class = "imageContainer">

		<div class = "original">
			<p> Original </p>
			<canvas id = "canvasOriginal" width="350" height = "350"> </canvas>
		</div>


		<div class = "difference">
			<p> Perturbation/Difference</p>			
			<canvas id = "canvasDifference" width="250" height = "250"> </canvas>
		</div>

		<div class = "adversarial">
			<p> Adversarial {{adversarialImageModelNameSource}}</p>
			<canvas id = "canvasAdversarial" width="350" height = "350"> </canvas>
		</div>

	</div>

	<div class = "predictionsContainer" ng-if="!allModelPredictions">
		<div class = "predictions" *ngFor="let modelPrediction of allModelPredictions">
		 	<table class = "prediction original">
				<thead>
					<tr>
						<th>{{ modelPrediction.modelName }}:  Class Label</th>
						<th> Confidence </th>
					</tr>
				</thead>
					<tr *ngFor="let originalPrediction of modelPrediction.originalPredictions">
						<td>{{ originalPrediction.className }}</td>
						<td>{{ originalPrediction.confidence }}</td>
					</tr>					
			</table>

		 	<table class = "prediction original">
				<thead>
					<tr>
						<th>{{ modelPrediction.modelName }}:  Class Label</th>
						<th> Confidence </th>
					</tr>
				</thead>
					<tr *ngFor="let adversarialPrediction of modelPrediction.adversarialPredictions">
						<td>{{ adversarialPrediction.className }}</td>
						<td>{{ adversarialPrediction.confidence }}</td>
					</tr>					
			</table>
		</div>
	</div>

</div>
 
</body>
</html>

	<!-- <div class = "difference">
		<p> Perturbation</p>
		<canvas id = "canvasDifference" width="299" height = "299"> </canvas>
        <table class = "predictions differencePredictions">
			<thead>
				<tr>
					<th>Class Label</th>
					<th>Confidence</th>
				</tr>
			</thead>
			<tr *ngFor="let differencePrediction of differencePredictions">
				<td>{{ differencePrediction.className }}</td>
				<td>{{ differencePrediction.confidence }}</td>
			</tr>					
		</table>
	</div> -->
