@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html 
{
    height: 100%;
    margin: 0 auto;
}

body 
{
    font-family: 'Calibri';
}

a 
{
    text-decoration: none;
    
}

.container 
{
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 30% auto;    
}


a
{
	color: white;
}



section 
{
    width: 90%;
    margin: 0 auto;
    padding: 1em;
}


